{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
    <div class="col-xs-12 col-sm-5 col-md-6">
        <img class="img-responsive pull-right" src="{{ app.request.basepath }}/img/Error_Vinyl.png"/>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Whoops...<br><br><small>{{ message }}</small></h2>
    </div>
</div>
{% endblock %}