{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block titleH1 %}
<img class="img-vinyl-anim hidden-xs" src="/img/Vinyl2.png"> 
Bienvenue sur MadeForVinyl
<img class="img-vinyl-anim hidden-xs" src="/img/Vinyl2.png">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <img src="img/ws_White_Vinyl_2560x1440.jpg" class="img-index">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h2> Fou de Vinyls ? Ce site est fait pour vous !  </h2><br>
            <p>
                Vous trouverez ici tous les grands classiques de la musique retro.
                Des années folles aux années rock en passant par les classiques du Reggae !
            </p>
            <br><br>
            <p>
                Venez commencer vos achats en vous inscrivant <b><a href="#">ici</a></b>, ou simplement découvrir tous nos styles de musique!
            </p>
        </div>
    </div>
{% endblock %}