body{
    font-family: 'Lobster Two', cursive;
    margin-top:80px;
}
a{
    color: #dcdcdc;
    font-size: 20px;
}
a:hover{
    color: #dcdcdc;
}
h1{
    color: darkred;
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow: 1px 1px 2px black;
}
.footer{
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}
.img-index{
    width: 100%;
    border: 15px solid whitesmoke;
    border-style:double;
}

/* CSS NAVBAR */
.navbar{
    font-size: 20px;
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}
/* END CSS NAVBAR */

/* CSS RED CONTAINER */
.container-content{
    text-align: center;
    color: #dcdcdc;
    padding: 50px;
    background-color: darkred;
    box-shadow: inset 0px 0px 80px 2px black;
}
.container-content p{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    text-indent:20px;
}
/* CSS RED CONTAINER */

/* CSS TABLES */
.table-hover tr:hover{
    cursor: pointer;
    background-color: chocolate !important;
}
.table-hover tr{
    background-color: transparent;
    transition: background-color 500ms ease;
}
.table{
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
/* END CSS TABLES */

/* ANIMATION VINYLS */
.img-vinyl-anim {
    width: 90px;
    height: 90px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg);}}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg);}}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* END ANIMATION VINYLS */

/* CSS VINYLS SLEEVES */
.img-vinyl {
    margin: 10px;
    margin-bottom: 50px;
    border: 2px solid white;
    box-shadow: 0px 0px 30px 2px black;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.img-vinyl:hover {
    transform: scale(1.2);
    border: 4px solid black;
}
/* END CSS VINYLS SLEEVES */

/* SCALE WITH SCREEN SIZE */
@media screen and (max-width: 600px){
    h1{
        font-size: 40px;
    }
    .container-content{
        padding: 20px;
    }
}